header {
display: flex;
justify-content: space-between;
flex-flow: row wrap;

& >* {
    display: flex;
    justify-content: space-around;
    padding: 10px;

    & label {
        margin: 0 10px;
    }
}

    .languageIcon {
        width: 20px;
        box-shadow: 0.5px 0.5px 2px black;
    }
}

.content {
    width: 100%;
   display: flex;
   justify-content: space-between;
   flex-flow: row wrap-reverse;

   main {

       flex: 0 0 70%;

       .countryCard {
display: flex;
flex-direction: column;

& * {
    padding: 15px;
}
       }
   }

   aside {
       flex: 0 0 27%;

       ul {
           margin: 0;
           padding: 0;
           list-style-type: none;

           li {
               padding: 15px;
               border-bottom: 1px solid grey;
              
               strong {
                   font-size: 1.2em
               }

               &:last-child {
                   border-bottom: 1px solid grey;
               }
           }
       }
   }
}